# ignore all jsons, there are to many
*.json

# ignore all zip files, theses change alot
*.zip

# ignore txt file, as those hold error logs
*.txt

# ignore settings
*.yml

# ignore all direktories, those are just for testing localy
loot_tables/
random_loot_68/
real table/
working_datapack/

